<form tuiForm tuiFormSize="l" [formGroup]="notaForm" (ngSubmit)="calcularNota()" class="bg-white rounded-lg p-10 max-w-xl">
	<header tuiHeader="l">
		<h1 tuiTitle>
			Simulador
			<span tuiSubtitle>Formulário para avaliar sua situação acadêmica</span>
		</h1>
	</header>

	<h2 class="text-xl mt-4 m-0">Notas da primeira etapa</h2>
	<tui-textfield>
		<label tuiLabel for="primeiraNota">Primeira nota</label>
		<input tuiInputNumber formControlName="primeiraNota" placeholder="Digite a primeira nota" id="primeiraNota"/>
	</tui-textfield>
	<tui-error [error]="getErroTratado('primeiraNota')"/>

	<tui-textfield>
		<label tuiLabel for="segundaNota">Segunda nota</label>
		<input tuiInputNumber formControlName="segundaNota" placeholder="Digite a segunda nota" id="segundaNota"/>
	</tui-textfield>
	<tui-error [error]="getErroTratado('segundaNota')"/>

	<h2 class="text-xl mt-4 m-0">Cálculo esperado</h2>
	<tui-radio-list formControlName="notaEsperada" [itemContent]="content" [items]="objects" />
	<ng-template #content let-data>
		<span tuiTitle>
			{{ data.name }}
			<span tuiSubtitle>{{ data.description }}</span>
		</span>
	</ng-template>

	@if (isQuartaProvaSelected) {
		<tui-textfield>
			<label tuiLabel for="terceiraNota">Terceira nota</label>
			<input tuiInputNumber formControlName="terceiraNota" placeholder="Digite a terceira nota" id="terceiraNota"/>
		</tui-textfield>
		<tui-error [error]="getErroTratado('terceiraNota')"/>
	}

	<footer class="!mt-4">
		<button tuiButton type="submit" size="m" [disabled]="notaForm.invalid">Calcular</button>
		<button tuiButton type="reset" size="m" appearance="flat">Limpar</button>
	</footer>
</form>

@if (nota) {
	<h1 tuiTitle>Sua media da N1 é {{ mediaN1?.toFixed(1) }}</h1>

	<h1 tuiTitle>Você precisa de {{ nota.toFixed(1) }} na {{isQuartaProvaSelected ? 'Quarta prova' : 'N2'}}</h1>
}

<button tuiButton appearance="action-grayscale" iconStart="@tui.cog" routerLink="/configurar">Configurações</button>
